<div class="table-container">
	<div class="table-header">
		<h1 class="rank-header">Tisa</h1>
		<button class="back-button" [routerLink]="['/kviz-postavke']"><i
				class="fa-solid fa-caret-left back-icon"></i>Nova igra</button>
		<p class="rank-cup"><i class="fa-solid fa-trophy cup-icon rank-cup-icon"></i></p>
		<div class="more-rank-icons">
			<!-- <div class="mode-icons-container"> -->
			<button *ngIf="mode == 1" class="mode-rank-button "><i
					class="fa-regular fa-star mode-icon icon-mode-rank"></i></button>
			<button *ngIf="mode == 2" class="mode-rank-button "><i
					class="fa-solid fa-star-half-stroke mode-icon icon-mode-rank"></i></button>
			<button *ngIf="mode == 3" class="mode-rank-button "><i
					class="fa-solid fa-star mode-icon icon-mode-rank"></i></button>
			<!-- </div> -->
		</div>


		<div class="columns-container">
			<div class="rank-column rank-position">P</div>
			<div class="rank-column rank-name">Ime</div>
			<div class="rank-column rank-points">Bodovi</div>
			<div class="rank-column rank-time">Vrijeme</div>
		</div>
		<div class="dropdown-container dropdown-rank-table">
			<p class="question-type-box">
				{{odabraniTip.name}}
			</p>

		</div>
	</div>
	<div class="rank-table-container">
		<div class="user-container" *ngFor="let user of users; index as i">
			<div class="rank-position rank-position-content">{{i + 1 + '. '}}</div>
			<div class="rank-name rank-name-content">{{user.ime}}</div>
			<div class="rank-points rank-points-content">{{user.brojBodova}}</div>
			<div class="rank-time rank-time-content">{{user.vrijeme}}</div>
		</div>
	</div>
</div>