@import "~@fortawesome/fontawesome-free/css/all.css";

* {
  background-color: #e9ecef;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.line {
  height: 1px;
  width: 100%;
  background-color: gray;
  margin: 1rem 0;
}

/* Home */

.top-header {
  background-color: black;
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: white;
  width: 30rem;
  height: 22rem;
  margin: 5rem auto;
  border-radius: 15px 0 15px 0;
  position: relative;
  /* border: 1px solid #495057; */
  box-shadow: -7px 7px 7px rgba(0, 0, 0, 0.204);
}

.stain {
  position: absolute;
  color: rgb(255, 255, 255);
  background-color: #0b7285;
  top: -2.5rem;
  right: 1rem;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  rotate: 45deg;
  box-shadow: 0 7px 3px rgba(0, 0, 0, 0.204);
}

.stain-text {
  background-color: #0b7285;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}

.header {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #087f5b;
  gap: 3rem;
}

.header-top {
  background-color: white;
  margin-top: 3rem;
  /* text-transform: uppercase; */
  font-size: 20px;
  color: black;
}

.header-bottom {
  font-family: "Sixtyfour", sans-serif;
  background-color: white;
  font-size: 64px;
  /* margin-top: 2rem; */
  font-weight: bold;
  color: #0b7285;
  margin-top: 0.8rem;
}

.head-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  font-family: "Sixtyfour", sans-serif;
  font-size: 36px;
  /* margin-top: 3rem; */
  width: 100%;
  color: #0e3742;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
  line-height: 0.8em;
  outline: none;
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: #0e3742;
    text-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: #20c997;
    text-shadow: 0 0 10px #087f5b, 0 0 15px #087f5b, 0 0 30px #087f5b,
      0 0 50px #087f5b, 0 0 100px #087f5b;
  }
}

.btn-start {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  background-color: white;
}

.start {
  background-color: #0b7285;
  color: #ffffff;
  border: none;
  padding: 1rem 0;
  width: 100%;
  text-transform: uppercase;
  border-radius: 0 0 15px 0;
  font-size: 16px;
  font-weight: bold;
  /* border: 2px solid #212529; */
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  bottom: 0;
}

.start:hover {
  background-color: #1098ad;
}

/* Params */

.param-container {
  height: 39rem;
  width: 60%;
  background-color: white;
  margin: 0 auto;
  border-radius: 15px 0 15px 0;
  box-shadow: -7px 7px 7px rgba(0, 0, 0, 0.204);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 3rem;
}

.header-options {
  margin-top: -4rem;
  margin-bottom: 1rem;
}

.params {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 25rem;
  gap: 3rem;
  background-color: white;
  margin-top: 2rem;
}

.area-type-params {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: white;
}

.area-type-params-container {
  display: flex;
  gap: 3rem;
  background-color: white;
}

.name-form-container {
  background-color: white;
}

.name-from {
  border: none;
  border: 3px solid #0b7285;
  background-color: #99e9f2;
  padding: 5px 15px;
  width: 15rem;
  height: 1.5rem;
  border-radius: 15px 0 15px 0;
  text-align: center;
  color: black;
  font-weight: 500;
  letter-spacing: 1px;
}

.area-params {
  background-color: white;
}

.dropdown-container {
  width: 100%;
  background-color: white;
  position: relative;
  display: inline-block;
}

.area-header {
  background-color: #0b7285;
  text-decoration: none;
  color: white;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  padding: 12px 22px;
  width: 100%;
  border: none;
  border-radius: 15px 0 15px 0;
  transition: 0.3s;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.arrow-icon {
  background-color: #0b7285;
  color: white;
  font-size: 18px;
  margin-left: 15px;
  transition: 0.3s;
}

.dropdown {
  display: none;
  background-color: #0b7285;
  color: white;
  position: absolute;
  min-width: 160px;
  z-index: 1000;
  transform: 0.3s;
}

.dropdown a {
  color: white;
  text-decoration: none;
  width: 15rem;
  padding: 10px 0;
  padding-left: 1rem;
  background-color: #0b7285;
  border-top: 1px solid white;
  transition: 0.3s;
  display: block;
}

.dropdown a:hover {
  background-color: #1098ad;
}

.dropdown-container:hover .dropdown {
  display: block;
}

.dropdown-container:hover .area-header {
  background-color: #1098ad;
  border-radius: 15px 0 0 0;
}

.dropdown-container:hover .arrow-icon {
  background-color: #1098ad;
  rotate: 180deg;
}

.selected-area-container {
  margin-top: 1rem;
  background-color: white;
}

.selected-aria {
  background-color: #99e9f2;
  font-size: 12px;
  color: black;
  text-align: center;
  padding: 3px 0;
  border-radius: 15px 0 0 0;
}

.area-img-container {
  background-color: #99e9f2;
  width: 16rem;
  height: 14rem;
  margin-top: 3px;
  border-radius: 0 0 15px 0;
}

.mode-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: -2rem;
}

.mode-header {
  background-color: white;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
}

.mode-buttons {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
}

.radio-button-box {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.mode-button {
  border: none;
  background-color: white;
  cursor: pointer;
}

.mode-icon {
  background-color: white;
  font-size: 24px;
  color: #0b7285;
  transition: 0.3s;
}

.mode-button:hover .mode-icon {
  color: #1098ad;
}

.mode-button:focus .mode-icon {
  color: #0e3742;
}

.options-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #0b7285;
  color: #ffffff;
  border: none;
  padding: 1rem 0;
  text-transform: uppercase;
  border-radius: 0 0 15px 0;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.options-button:hover {
  background-color: #1098ad;
}

.cup-icon {
  background-color: #0b7285;
  color: white;
  transition: 0.3s;
  font-size: 32px;
}

.cup-icon:hover {
  background-color: #1098ad;
}

.cup-button {
  cursor: pointer;
  border: none;
  position: absolute;
  background-color: #0b7285;
  top: -2.5rem;
  right: 1rem;
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  padding: 1rem;
  box-shadow: 0 7px 3px rgba(0, 0, 0, 0.204);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.cup-button:hover {
  background-color: #1098ad;
}

.cup-button:hover .cup-icon {
  background-color: #1098ad;
}

.timer-button {
  /* cursor: pointer; */
  border: none;
  position: absolute;
  background-color: #0b7285;
  top: -2.5rem;
  right: 1rem;
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  padding: 1rem;
  box-shadow: 0 7px 3px rgba(0, 0, 0, 0.204);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

/* Single/Multiple Choice Pitanja */

.single-choice-container {
  height: 37rem;
  width: 70%;
  background-color: white;
  margin: 0 auto;
  border-radius: 15px 0 15px 0;
  box-shadow: -7px 7px 7px rgba(0, 0, 0, 0.204);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  position: relative;
  margin-top: 3rem;
  gap: 3rem;
}

.text-container {
  width: 85%;
  height: 7rem;
  background-color: #0b7285;
  border-radius: 15px 0 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  gap: 1rem;
}

.question-number {
  color: white;
  background-color: #0b7285;
  font-weight: 700;
}

.question-text {
  color: white;
  background-color: #0b7285;
  font-weight: 500;
}

.sc-question-box {
  display: flex;
  gap: 2rem;
  background-color: white;
}

.multiple-choice-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.multiple-choice-text {
  color: black;
  background-color: white;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 400;
  /* margin-bottom: -1rem; */
}

.question-image-container {
  width: 20rem;
  height: 20rem;
  background-color: white;
  border-radius: 15px 0 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.question-image {
  /* max-width: 100%; */
  height: 97%;
  display: block;
  object-fit: scale-down;
  border-radius: 15px 0 15px 0;
  border: 5px solid #99e9f2;
}

.sc-answers-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  /* justify-content: center; */
  background-color: white;
}

.sc-answer-btn {
  height: 3rem;
  width: 15rem;
  border: none;
  background-color: #99e9f2;
  border-radius: 15px 0 15px 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
}

.sc-answer-btn-top {
  margin-top: 4.5rem;
}

.sc-answer-btn-bottom {
  margin-bottom: 4.5rem;
}

.sc-answer-btn-top-m {
  margin-top: 2rem;
}

.sc-answer-btn-bottom-m {
  margin-bottom: 4rem;
}

.sc-answer-btn-bottom-mm {
  /* margin-bottom: 8rem; */
  margin-top: -5rem;
}

.sc-answer-btn:hover {
  background-color: #66d9e8;
}

.wrong-answer {
  background-color: #ff6b6b;
}

.wrong-answer:hover {
  background-color: #ff6b6b;
}

.correct-answer {
  background-color: #51cf66;
}

.correct-answer:hover {
  background-color: #51cf66;
}

.points-container {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  width: 7rem;
  height: 2rem;
  background-color: #0b7285;
  border-radius: 15px 0 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.points-text {
  background-color: #0b7285;
  color: white;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 700;
}

.timer {
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 700;
  color: white;
}

/* True-false Pitanja */

.true-false-answer {
  text-transform: uppercase;
  margin-top: -2rem;
}

/* Connections Pitanja */

.connections-answers-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  background-color: white;
}

.conncetions-answer {
  background-color: #99e9f2;
  width: 17rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px 0 15px 0;
  cursor: pointer;
}

.conncetions-answer:hover {
  background-color: #66d9e8;
}

/* Rank Table */

.table-container {
  height: 31rem;
  width: 50%;
  background-color: white;
  margin: 0 auto;
  border-radius: 15px 0 15px 0;
  box-shadow: -7px 7px 7px rgba(0, 0, 0, 0.204);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  position: relative;
  margin-top: 3rem;
  /* gap: 3rem; */
}

.table-header {
  width: 100%;
  height: 9rem;
  background-color: #0b7285;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  overflow: hidden;
  border-radius: 15px 0 0 0;
}

.rank-cup {
  background-color: #0b7285;
  font-size: 3rem;
  margin-top: 7px;
}

.rank-cup-icon {
  font-size: 3rem;
}

.rank-cup-icon:hover {
  background-color: #0b7285;
}

.more-rank-icons {
  display: flex;
  gap: 1rem;
  background-color: #0b7285;
}

.mode-hidden {
  display: none;
}

.mode-rank {
  background-color: #0b7285;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.mode-rank:hover i {
  color: #66d9e8;
}

.mode-rank:focus i {
  color: #66d9e8;
}

.icon-mode-rank {
  background-color: #0b7285;
  color: white;
}

.columns-container {
  display: flex;
  border-top: 1px solid white;
  background-color: #0b7285;
  width: 100%;
  height: 2rem;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.rank-column {
  background-color: #0b7285;
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  width: 12rem;
}

.rank-position {
  width: 2rem;
  margin-left: 1rem;
}

.rank-name {
  width: 30rem;
}

.rank-points {
  width: 5rem;
  margin-right: 1rem;
}

.rank-time {
  width: 5rem;
}

.rank-table-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  background-color: white;
  width: 100%;
  height: 10rem;
}

.user-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ced4da;
  width: 100%;
  height: 2rem;
  margin-top: 2px;
}

.rank-position-content {
  background-color: #ced4da;
  border-right: 2px solid white;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: black;
}

.rank-name-content {
  text-align: center;
  background-color: #ced4da;
  height: 2rem;
  border-right: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: black;
}

.rank-points-content {
  background-color: #ced4da;
  height: 2rem;
  border-right: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: black;
}

.rank-time-content {
  background-color: #ced4da;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: black;
}

.dropdown-rank-table {
  position: absolute;
  top: 1rem;
  right: 10px;
  width: 13rem;
  z-index: 1000;
  background-color: #0b7285;
}

.area-header-table {
  background-color: white;
  font-size: 12px;
  color: #0b7285;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.area-header-table:hover {
  background-color: #66d9e8;
  /* color: white; */
  font-weight: 500;
}

.arrow-icon-table {
  background-color: white;
  font-size: 12px;
  color: #0b7285;
}

.dropdown-table {
  display: none;
  background-color: #0b7285;
  color: white;
  position: absolute;
  max-width: 13rem;
  z-index: 1000;
  transform: 0.3s;
  font-size: 12px;
}

.dropdown-table a {
  color: white;
  text-decoration: none;
  width: 12rem;
  padding: 10px 0;
  padding-left: 1rem;
  background-color: #66d9e8;
  border-top: 1px solid white;
  transition: 0.3s;
  display: block;
  color: black;
  font-weight: 500;
}

.dropdown-table a:hover {
  background-color: white;
}

.dropdown-container:hover .dropdown-table {
  display: block;
}

.dropdown-container:hover .area-header-table {
  background-color: #66d9e8;
  border-radius: 15px 0 0 0;
}

.dropdown-container:hover .arrow-icon-table {
  background-color: #66d9e8;
  rotate: 180deg;
}

.rank-header {
  position: absolute;
  color: white;
  top: 1rem;
  left: 10px;
  font-family: "Sixtyfour", sans-serif;
  background-color: #0b7285;
}
