<app-header></app-header>
<div class="container">
  <header>
    <h2>Spajalice</h2>
    <button class="add">
      <i class="icon fas fa-plus"> </i>
    </button>
  </header>

  <div *ngFor="let connecting of connectingQuestionsArray">
    <ul>
      <li>
        {{ connecting.question }}
        <div class="icons">
          <button><i class="icon edit fas fa-edit"></i></button>
          <button><i class="icon delete fas fa-trash"></i></button>
        </div>
      </li>
    </ul>
  </div>
</div>
