<div class="container">
  <form class="form">
    <div>
      <label for="username">Username:</label><br />
      <div class="input-with-icon">
        <i class="far fa-user"></i>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="username"
          class="input"
        /><br />
      </div>
    </div>

    <div>
      <label for="password">Password:</label><br />
      <div class="input-with-icon">
        <i class="fa-solid fa-lock"></i>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="password"
          class="input"
        /><br />
      </div>
    </div>

    <div>
      <button type="submit" value="LOGIN" class="login-button" routerLink="/area">LOGIN</button>
    </div>

    <div class="btn">
      <button type="submit" value="CREATE ACCOUNT" class="create-button">
        CREATE ACCOUNT
      </button>
    </div>
  </form>
</div>
