<app-header></app-header>
<div class="container">
  <header>
    <h2>Pitanja sa jednim tačnim odgovorom</h2>
    <button routerLink="/new-single-choice" class="add">
      <i class="icon fas fa-plus"> </i>
    </button>
  </header>

  <div *ngFor="let singleChoice of singleChoiceArray">
    <ul>
      <li>
        {{ singleChoice.tekstPitanja }}
        <div class="icons">
          <button routerLink="/single-choice/{{ singleChoice.id }}">
            <i class="icon edit fas fa-edit"></i>
          </button>
          <button (click)="deleteSingleChoice(singleChoice.id)">
            <i class="icon delete fas fa-trash"></i>
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>
